body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

}
.calculator {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    max-width: 375px;
    min-height: 600px;
    border-radius: 28px;
    background-color: #5a5c5c;
    
}
.display {
    display: flex;
    min-height: 200px;
    justify-content: flex-end;
    align-items: flex-end;
    color: white;
    text-align: right;
    padding: 1rem;
    
}

.display .console {
    font-size: 1.25rem;
    padding-bottom: 0.5rem;
}
.display .output {
    font-size: 2rem;
    font-weight: 700;
    width: 100%;
    max-width: 100%;
    overflow: auto;
}

.key-section {
    background-color: #2f3030;
    padding: 1rem;
    border-radius: 1rem 1rem 0 0;
    display: grid;
    grid-template-columns: repeat(4, 66px);
    grid-gap: 1rem;


}
button {
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-weight: bold;
    background-color: #4f5052;
    color: whitesmoke;
}

.double {
    width: 140px;
    border-radius: 42px;
}

/* .key-section .key{
    position: relative;
    cursor: pointer;
    display: block;
    display: auto;
    padding-top: 100%;
    border-radius: 50%;
    background-color: #4f5052;
    ;

} */