body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.calculator {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    max-width: 375px;
    min-height: 600px;
    border-radius: 1rem;
    background-color: #5a5c5c;
    
}
.display {
    display: flex;
    min-height: 200px;
    justify-content: flex-end;
    align-items: flex-end;
    color: white;
    text-align: right;
    padding: 1rem;
    flex: auto;
}

.display .console {
    font-size: 1.25rem;
    padding-bottom: 0.5rem;
}
.display .output {
    font-size: 2rem;
    font-weight: 700;
    width: 100%;
    max-width: 100%;
    overflow: auto;
}

.key-section {
    background-color: #2f3030;
    padding: 1rem;
    border-radius: 1rem 1rem 0 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;

}

.key-section .key {
    position: relative;
    cursor: pointer;
    display: block;
    display: auto;
    padding-top: 100%;
    border-radius: 50%;
    background-color: #4f5052;
    ;

}